---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import ImageHero from '../components/ImageHero.astro';
import Heading from '../components/heading.astro';
import Footer from '../components/footer.astro'
---

<Layout title="Welcome to Astro.">
	<Header />
	<ImageHero/>
	<main class="mt-[162px] mx-auto max-w-[1200px]">
		<Heading name='Esto es un título'>
	</main>
	<Footer />
</Layout>

