---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import ImageHero from '../components/ImageHero.astro';
import Heading from '../components/heading.astro';
import DisciplineWrapper from '../components/discipline-wrapper.astro';
import FeaturedResearcherWrapper from '../components/featured-researcher-wrapper.astro';
import ProjectList from '../components/project-list.astro';
---

<Layout title="Research Hub - Empower your projects">
	<Header />
	<ImageHero/>
	<main class="mt-[162px] mx-auto max-w-[1200px]">
		<Heading name='Choose your discipline' />
		<DisciplineWrapper  />
		<Heading name='Projects' />
		<ProjectList /> 
		<Heading name='Featured researches' />
		<FeaturedResearcherWrapper/>

	</main>
</Layout>

