---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import ImageHero from '../components/ImageHero.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<div class="w-full bg-white h-[75px]"></div>
		<ImageHero />
	<main>
		<h1>Contenido principal</h1>
	</main>
</Layout>

