<footer class="bg-[#F7E9E9] relative h-[280px]">
    <img class="absolute left-0 top-0" src="decoration.svg" aria-hidden="true" />
    <img class="absolute right-0 top-0 transform rotate-180" src="decoration.svg" aria-hidden="true" />
    <div class="mx-auto max-w-[1200px] flex flex-col justify-end h-full pb-8">
        <p class="font-heading font-bold text-[30px] text-center text-[#222] mb-8">Academic Hub</p>
        <ul class="flex gap-12 justify-center">
            <li><img src="instagram.svg" alt="Instragram"></li>
            <li><img src="facebook.svg" alt="Facebook"></li>
            <li><img src="youtube.svg" alt="YouTube"></li>
        </ul>
        <p class="font-heading font-bold text-[#666666] text-center mt-12">Zaragoza NASA Space Apps | © 2023 Academic Hub.</p>
    </div>
</footer>