---
type Props = {
    name: string;
}

const { name } = Astro.props;
---


<h2 class="text-[56px] font-heading font-bold">{name}</h2>
<div class="w-[70px] bg-purple-400 h-2 mt-3" aria-hidden="true"></div>
