---
import HeaderButton from "./header-button.astro";
import LanguageDropdown from "./language-dropdown.astro";
import IconSearch from "./icons/IconSearch.astro";
import IconLocation from "./icons/IconLocation.astro";
---

<nav class="w-full bg-white">
  <div class="max-w-nav h-16 flex items-center mx-auto gap-[8.75rem]">
    <img src="/logo-nasa.svg" />
    <div class="flex w-[36.625rem]">
      <div
        class="grow bg-[#9146DC0D] border-r-[1px] rounded-l-lg flex items-center pl-2"
      >
      <IconSearch/>
        <input
          type="search"
          class="h-10 text-sm grow p-4 bg-transparent w-full  focus:outline-none"
          placeholder="Search by title, keyword, ..."
        />
      </div>
      <div class="grow bg-[#9146DC0D] rounded-r-lg flex items-center pl-4">
        <IconLocation/>
        <input
          type="search"
          class="h-10 text-sm grow p-4 bg-transparent w-full focus:outline-none"
          placeholder="City, province/state, ..."
        />
      </div>
    </div>
    <HeaderButton />
    <LanguageDropdown />
  </div>
</nav>
