---
import ProfileIcon from "./profile-icon.astro";
---
<div
  class="bg-main-purple w-[11.75rem] h-10 rounded-lg text-white flex items-center mx-auto p-4"
>
<ProfileIcon />
  <button class="ml-2"
    ><span class="font-bold">Log in</span> or <span class="font-bold"
      >Sign in
    </span></button
  >
</div>

