---
import imgHero from '../../public/img-hero.jpeg';
import SearchBar from './SearchBar.astro';
---

<section class="relative">
    <img class="w-full h-[500px] object-cover" src={imgHero.src} alt="">
    <SearchBar/>
</section>