---
type Props = {
  id: number;
};
const { id } = Astro.props;
const response = await fetch(`https://techport.nasa.gov/api/projects/${id}`);
const project: any = await response.json();
---

<div class="w-[36.313rem] h-[10.875rem] bg-white">
  <div class="flex">
    <h3
      class="font-bold text-[27px] text-ellipsis overflow-hidden whitespace-nowrap"
    >
      {project.project.title}
    </h3>
    <div class="text-main-purple">
      <span> #SPACE</span><span> #NASA</span><span> #PLANETS</span>
    </div>
  </div>
  <p>{project.project.principalInvestigators[0].fullName}</p>
</div>
